<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name <%= user.name %></th>
		</tr>

		<tr>
			<th>introduction <%= user.introduction %></th>
		</tr>
</table>
        <% if @user == current_user %>
			<%= link_to edit_user_path(user) do %>
				<i class="btn btn-default glyphicon glyphicon-wrench"></i>
			<% end %>
		<% end %>

<div class="row">
	<% if user == current_user %>
	  <%= link_to edit_user_path(user) do %>
	      <i class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" ></i>
	  <% end %>
	<% end %>
</div>